@tailwind base;
@tailwind components;
@tailwind utilities;
@import '@rainbow-me/rainbowkit/styles.css';

/* Main */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: local(''),
       url('/public/fonts/Inter/inter-v11-latin-regular.woff2') format('woff2'),
       url('/public/fonts/Inter/inter-v11-latin-regular.woff') format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: block;
  src: local(''),
       url('/public/fonts/Inter/inter-v11-latin-500.woff2') format('woff2'),
       url('/public/fonts/Inter/inter-v11-latin-500.woff') format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: block;
  src: local(''),
       url('/public/fonts/Inter/inter-v11-latin-600.woff2') format('woff2'),
       url('/public/fonts/Inter/inter-v11-latin-600.woff') format('woff');
}

/* Mono */
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: local(''),
       url('/public/fonts/DMSans/dm-sans-v11-latin-regular.woff2') format('woff2'),
       url('/public/fonts/DMSans/dm-sans-v11-latin-regular.woff') format('woff');
}
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-display: block;
  src: local(''),
       url('/public/fonts/DMSans/dm-sans-v11-latin-500.woff2') format('woff2'),
       url('/public/fonts/DMSans/dm-sans-v11-latin-500.woff') format('woff');
}
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src: local(''),
       url('/public/fonts/DMSans/dm-sans-v11-latin-700.woff2') format('woff2'),
       url('/public/fonts/DMSans/dm-sans-v11-latin-700.woff') format('woff');
}

/* Serif */
@font-face {
  font-family: 'Berlingske';
  font-style: normal;
  font-weight: 800;
  font-display: block;
  src: local(''),
       url('/public/fonts/Berlingske/BerlingskeSerif-ExtraBold.woff2') format('woff2'),
       url('/public/fonts/Berlingske/BerlingskeSerif-ExtraBold.woff') format('woff');
}

html {
  @apply font-main bg-1b0f2c
}
